@import '../../assets/scss/colors.scss';

.text-type {
  display: flex;

  &__name {
    width: 10%;
    color: $dark-25;
    line-height: 1.5rem; //24px при базовом размере шрифта 16px
    text-align: right;

    &_font_large {
      font-size: 1.5rem; //24px при базовом размере шрифта 16px
      line-height: 1.8125rem; //29px при базовом размере шрифта 16px
    }

    &_font_medium {
      font-size: 1.1875rem; //19px при базовом размере шрифта 16px
      line-height: 1.4375rem; //23px при базовом размере шрифта 16px
    }

    &_font_small {
      font-size: .75rem; //12px при базовом размере шрифта 16px
      line-height: .9375rem; //15px при базовом размере шрифта 16px
    }
  }

  &__text {
    width: 90%;
    padding-left: 30px;
    line-height: 1.5rem; //24px при базовом размере шрифта 16px
    margin: 0;

    &_font_large {
      color: $dark-100;
      font: bold 1.5rem Quicksand, Arial, sans-serif;
      line-height: 1.875rem; //30px при базовом размере шрифта 16px
    }

    &_font_medium {
      color: $dark-100;
      font: bold 1.1875rem Quicksand, Arial, sans-serif;
      line-height: 1.5rem; //24px при базовом размере шрифта 16px
    }

    &_font_small {
      color: $dark-100;
      font-weight: bold;
      font-size: .75rem; //12px при базовом размере шрифта 16px
      line-height: 1rem; //16px при базовом размере шрифта 16px
      text-transform: uppercase;
    }
  }
}
