@import "../../assets/scss/colors.scss";

.text-type{
  display: flex;

  &__name{
    color: $dark-25;
    text-align: right;
    line-height: 1.5rem; //24px при базовом размере шрифта 16px
    width: 10%;

    &_font_large{
      font-size: 1.5rem; //24px при базовом размере шрифта 16px
      line-height: 1.8125rem; //29px при базовом размере шрифта 16px
    }

    &_font_medium{
      font-size: 1.1875rem; //19px при базовом размере шрифта 16px
      line-height: 1.4375rem; //23px при базовом размере шрифта 16px
    }

    &_font_small{
      font-size: 0.75rem; //12px при базовом размере шрифта 16px
      line-height: 0.9375rem;  //15px при базовом размере шрифта 16px
    }
  }

  &__text{
    padding-left: 30px;
    line-height: 1.5rem; //24px при базовом размере шрифта 16px
    width: 90%;


    &_font_large{
      font-size: 1.5rem; //24px при базовом размере шрифта 16px
      line-height: 1.875rem; //30px при базовом размере шрифта 16px
      color: $dark-100;
      font-family: Quicksand, OpenSans, sans-serif;
      font-weight: bold;
    }

    &_font_medium{
      font-size: 1.1875rem; //19px при базовом размере шрифта 16px
      line-height: 1.5rem; //24px при базовом размере шрифта 16px
      color: $dark-100;
      font-family: Quicksand, OpenSans, sans-serif;
      font-weight: bold;
    }

    &_font_small{
      font-size: 0.75rem; //12px при базовом размере шрифта 16px
      line-height: 1rem; //16px при базовом размере шрифта 16px
      text-transform: uppercase;
      color: $dark-100;
      font-weight: bold;
    }
  }
}