extends ../pages-layout/pages-layout

include ../../blocks/icon-text/icon-text
include ../../blocks/pie-chart/pie-chart
include ../../blocks/bullet-list/bullet-list
include ../../blocks/comment/comment
include ../../blocks/apartment-booking-card/apartment-booking-card
include ../../blocks/title/title

block page-meta
  meta(name="keywords" content="Room, Toxin")
  meta(name="description" content="Toxin room details page")
  each file in htmlWebpackPlugin.files.css
    if /room\-details|app/i.test(file)
      link(href=file rel="stylesheet")
  title Room details

block content
  -
    let path = require('path');
    let fs = require('fs');
    let pieChartData = JSON.parse(fs.readFileSync(path.normalize('src/pages/room-details/pie-chart-data.json')));
    let bookingCardData = JSON.parse(fs.readFileSync(path.normalize('src/pages/room-details/booking-card-data.json')));

  .room-details
    .room-details__images-wrapper
      .room-details__main-image
      .room-details__subimages-wrapper
        .room-details__subimage
        .room-details__subimage
    main.room-details__info-wrapper
      section.room-details__info
        .room-details__row
          .room-details__advantages-list
            .room-details__content-block-label
              .room-details__content-block-name
                +title('middle', 'Сведения о номере', 'middle')
            .room-details__advantage
              +icon-text('insert_emoticon', 'Комфорт', 'Шумопоглощающие стены', true)
            .room-details__advantage
              +icon-text('location_city', 'Удобство', 'Окно в каждой из спален', true)
            .room-details__advantage
              +icon-text('whatshot', 'Уют', 'Номер оснащён камином')
          .room-details__impressions
            .room-details__content-block-label
              .room-details__content-block-name
                +title('middle', 'Впечатления от номера', 'middle')
            +pie-chart(pieChartData.totalAmount, pieChartData.sectors)
        .room-details__row
          .room-details__comments-list
            .room-details__content-block-label
              .room-details__content-block-name
                +title('middle', 'Отзывы посетителей номера', 'middle')
              span.room-details__content-block-amount 2 отзыва
            .room-details__comment
              +comment({
                avatar: 'comment-avatar-1.jpg',
                fullName: 'Мурад Сарафанов',
                lastViewedTime: '5 дней назад',
                likeAmount: 12,
                commentText: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
                liked: true
              })
            .room-details__comment
              +comment({
                avatar: 'comment-avatar-2.jpg',
                fullName: 'Патрисия Стёклышкова',
                lastViewedTime: 'Неделю назад',
                likeAmount: 2,
                commentText: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'
              })
        .room-details__row
          .room-details__rules
            .room-details__content-block-label.room-details__content-block-label_with-indent
              .room-details__content-block-name
                +title('middle', 'Правила', 'middle')
            +bullet-list([
              'Нельзя с питомцами', 'Без вечеринок и мероприятий',
              'Время прибытия — после 13:00, а выезд до 12:00'
            ])
          .room-details__cancellation
            .room-details__content-block-label
              .room-details__content-block-name
                +title('middle', 'Отмена', 'middle')
            p.room-details__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее
              | чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
      section.room-details__card
        +apartment-booking-card(bookingCardData)

  each file in htmlWebpackPlugin.files.js
    if /room\-details|app/i.test(file)
      script(src=file)