@import './colors.scss';

html {
  color: $dark-75;
  font-size: 16px;
  font-family: Montserrat, Arial, sans-serif;
  background: white;
}

body {
  margin: 0;
  font-size: .875rem; //14px при базовом размере шрифта 16px
  line-height: 1;
}
