@import './colors.scss';

html{
    font-family: Montserrat, OpenSans, sans-serif;
    font-size: 16px;
    background: white;
    color: $dark-75;
}

body{
    font-size: 0.875rem; //14px при базовом размере шрифта 16px
}

h1{
    font-family: Quicksand, OpenSans, sans-serif;
    font-weight: bold;
    font-size: 1.5rem; //24px при базовом размере шрифта 16px
    color: $dark-100;
}

h2{
    font-family: Quicksand, OpenSans, sans-serif;
    font-weight: bold;
    font-size: 1.1875rem; //19px при базовом размере шрифта 16px
    color: $dark-100;
}

h3{
    font-family: Montserrat, OpenSans, sans-serif;
    font-weight: bold;
    font-size: 0.75rem; //12px при базовом размере шрифта 16px
    line-height: 0.9375rem;  //15px при базовом размере шрифта 16px
    color: $dark-100;
}