html{
    font-family: Montserrat, OpenSans, sans-serif;
    font-size: 14px;
    background: white;
}

h1{
    font-family: Quicksand, OpenSans, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

h2{
    font-family: Quicksand, OpenSans, sans-serif;
    font-weight: bold;
    font-size: 19px;
}

h3{
    font-family: Montserrat, OpenSans, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
}