@import '../../assets/scss/colors.scss';

.apartment-description-card {
  box-shadow: 0 10px 20px $dark-5;
  border-radius: 4px;

  &__images-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 152px;
    overflow: hidden;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
  }

  &__image-list-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    z-index: -2;

    &_showing {
      opacity: 1;
      z-index: 0;
    }
  }

  &__image {
    width: 100%;
  }

  &__slider-buttons {
    display: none;
    justify-content: space-between;
    height: 100%;
  }

  &__images-wrapper:hover &__slider-buttons{
    display: flex;
  }

  &__prev-wrapper, &__next-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    z-index: 1;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
  }

  &__prev-wrapper{
  }

  &__next-wrapper{
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  &__slider-button {
    font-family: 'Material Icons';
    font-size: 1.5rem; //24px при базовом размере шрифта 16px
    color: white;
    outline: none;
    transform: rotate(90deg);

    &:focus{
      font-weight: bold;
    }
  }

  &__indicator-list {
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: flex;
    justify-content: flex-end;
  }

  &__indicator {
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border: 1px solid white;
    border-radius: 100%;
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }

    &_current {
      background: white;
    }
  }


  &__info {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 24px 20px 20px;
  }

  &__main-info {
    border-bottom: 1px solid $dark-10;
    padding-bottom: 12px;
  }

  &__quality {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
  }

  &__rating {
    display: flex;
    align-items: center;
  }

  &__reviews {
    display: flex;
    color: $dark-50;
  }

  &__review-amount {
    font-weight: bold;
  }
}