@import "../../assets/scss/colors.scss";

.apartment-description-card {
  border-radius: 4px;
  box-shadow: 0 10px 20px $dark-5;

  &__slider {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 152px;
    overflow: hidden;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  &__slider-item {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    opacity: 0;

    &_showing {
      z-index: 0;
      opacity: 1;
    }
  }

  &__image {
    width: 100%;
  }

  &__slider-buttons {
    display: none;
    justify-content: space-between;
    height: 100%;
  }

  &__slider:hover &__slider-buttons {
    display: flex;
  }

  &__prev-wrapper,
  &__next-wrapper {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    background: linear-gradient(90deg, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
  }


  &__next-wrapper {
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  &__prev-button,
  &__next-button {
    color: white;
    font-size: 1.5rem; //24px при базовом размере шрифта 16px
    font-family: "Material Icons";
    outline: none;
    transform: rotate(90deg);

    &:focus {
      font-weight: bold;
    }
  }

  &__indicator-list {
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: flex;
    justify-content: flex-end;
  }

  &__indicator {
    z-index: 1;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border: 1px solid white;
    border-radius: 100%;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &_current {
      background: white;
    }
  }


  &__info {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 24px 20px 20px;
  }

  &__main-info {
    padding-bottom: 12px;
    border-bottom: 1px solid $dark-10;
  }

  &__quality {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
  }

  &__rating {
    display: flex;
    align-items: center;

    @media (max-width: 350px) {
      margin-right: 10px;
    }
  }

  &__reviews {
    display: flex;
    color: $dark-50;
  }

  &__review-amount {
    font-weight: bold;
  }
}