@import '../../assets/scss/colors.scss';
@import '../../assets/scss/sizes.scss';

.pagination {
  &__pages {
    display: flex;
    margin-bottom: 10px;
  }

  &__description {
    color: $dark-75;
    text-align: center;
  }

  &__item {
    display: none;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 100%;


    &:last-child,
    &:nth-child(2),
    &:nth-last-child(2) {
      display: flex;
    }
  }

  &__page {
    font-weight: bold;
    font-size: 0.75rem; //12px при базовом размере шрифта 16px
    text-transform: uppercase;
    color: $dark-50;

  }

  &:not([data-current-page='1']) &__item:nth-child(1) {
    display: flex;
  }

  &__last {
    font-family: 'Material Icons';
    font-size: 1.5rem; //24px при базовом размере шрифта 16px
    color: white;
    background: $green;
  }

}

@for $i from 1 through $max-page {
  .pagination[data-current-page='#{$i}'] {
    // 3 before
    .pagination__item:nth-child(#{$i - 3}):not(:first-child) {
      display: flex;
      pointer-events: none;
      color: transparent;

      &:after {
        content: '...';
        color: $dark-50;
      }
    }

    // 2 before
    .pagination__item:nth-child(#{$i - 2}) {
      display: flex;
    }

    // before
    .pagination__item:nth-child(#{$i - 1}) {
      display: flex;
    }

    // active
    .pagination__item:nth-child(#{$i}) {
      background: $gradient;
      color: #fff;
      display: flex;

      + .pagination__item:last-child {
        display: none;
      }
    }

    // next
    .pagination__item:nth-child(#{$i + 1}):not(:last-child) {
      display: flex;
    }

    // 2 next
    .pagination__item:nth-child(#{$i + 2}):not(:last-child) {
      display: flex;
    }

    // 3 next
    .pagination__item:nth-child(#{$i + 3}):not(:last-child):not(:nth-last-child(2)) {
      display: flex;
      pointer-events: none;
      color: transparent;

      &:after {
        content: '...';
        color: $dark-50;
        font-size: 0.75rem; //12px при базовом размере шрифта 16px
      }
    }
  }
}
