@import "../../assets/scss/colors.scss";

$max-page: 100;

.pagination {

  &__pages {
    display: flex;
    margin-bottom: 10px;
  }

  &__description {
    color: $dark-75;
    text-align: center;
  }

  &__item {
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;


    &_last {
      color: white;
      font-size: 1.5rem; //24px при базовом размере шрифта 16px
      font-family: "Material Icons";
      background: $secondary-gradient;
    }

    &_page {

      color: $dark-50;
      font-weight: bold;
      font-size: .75rem; //12px при базовом размере шрифта 16px
      text-transform: uppercase;
    }

    &:last-child,
    &:nth-child(2),
    &:nth-last-child(2) {
      display: flex;
    }
  }

  &:not([data-current-page="1"]) &__item:nth-child(1) {
    display: flex;
  }

}

@for $i from 1 through $max-page {
  .pagination[data-current-page='#{$i}'] {
    // 3 before
    .pagination__item:nth-child(#{$i - 3}):not(:first-child) {
      display: flex;
      color: transparent;
      pointer-events: none;

      &:after {
        color: $dark-50;
        content: "...";
      }
    }

    // 2 before
    .pagination__item:nth-child(#{$i - 2}) {
      display: flex;
    }

    // before
    .pagination__item:nth-child(#{$i - 1}) {
      display: flex;
    }

    // active
    .pagination__item:nth-child(#{$i}) {
      display: flex;
      color: #fff;
      background: $gradient;

      + .pagination__item:last-child {
        display: none;
      }
    }

    // next
    .pagination__item:nth-child(#{$i + 1}):not(:last-child) {
      display: flex;
    }

    // 2 next
    .pagination__item:nth-child(#{$i + 2}):not(:last-child) {
      display: flex;
    }

    // 3 next
    .pagination__item:nth-child(#{$i + 3}):not(:last-child):not(:nth-last-child(2)) {
      display: flex;
      color: transparent;
      pointer-events: none;

      &:after {
        color: $dark-50;
        font-size: .75rem; //12px при базовом размере шрифта 16px
        content: "...";
      }
    }
  }
}
