.sign-in {
  &__container {
    background-image: url('../../assets/images/background-image-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-origin: padding-box;
    background-size: cover;

    padding: 172px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__card {
    max-width: 380px;
    width: 100%;
    background: white;
  }
}