@import "../../assets/scss/colors.scss";

.copyright{
  box-sizing: border-box;
  padding: 23px 0;
  width: 100%;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  
  @media (max-width: 750px) {
    padding: 120px 0;
  }

  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1160px;
    margin: auto;


    @media (max-width: 750px) {
      flex-direction: column;
    }
  }

  &__logo{
    display: none;
    margin-bottom: 20px;

    @media (max-width: 750px) {
      display: block;
    }
  }

  &__text{
    text-align: center;

    @media (max-width: 750px) {
      margin-bottom: 25px;
    }
  }
  
  &__socials{
    display: flex;
  }

  &__socials-item{
    margin-right: 20px;

    &:last-child{
      margin-right: 0;
    }
  }
}