include ../social-net-icon/social-net-icon

mixin copyright(socials)
    .copyright
        .copyright__container
            .copyright__text Copyright © 2018 Toxin UI Kit. All rights reserved.
            .copyright__socials
                each item in socials
                    .copyright__socials-item
                        +social-net-icon(item.icon,item.link)