.link-button{
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;
  text-align: center;
  vertical-align: center;
  position: relative;
  width: 95px;
  height: 40px;
  font-style: normal;
  line-height: 15px;
  background-color: white;
  font-family: Montserrat, OpenSans, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #BC9CFF;
  text-transform: uppercase;
  padding: 12px 18px 13px 18px;
  border-radius: 22px;
  &::after{
    content: "";
    border-radius: 22px;
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }

  &:hover{
    background:linear-gradient(180deg, rgba(#BC9CFF, 0.5) 0%, rgba(#8BA4F9, 0.5) 100%);
  }
}