@import '../../assets/scss/colors.scss';

.expandable-checkbox-list {

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
    padding: 8px 0;
    outline: none;
    user-select: none;
    background: none;
    border: none;
    cursor: pointer;

    &:focus {
      font-weight: bold;
    }
  }

  &__title {
    text-transform: uppercase;
  }

  &__arrow {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 44px;
    color: $dark-50;
    font: 1.5rem 'Material Icons';

    &_rotated {
      transform: rotate(-180deg);
    }
  }

  &__list {
    display: none;
    margin: 0;
    padding: 0;

    &_expanded {
      display: block;
    }
  }

  &__list-item {
    margin-bottom: 10px;
    list-style: none;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
