@import "../../assets/scss/colors.scss";

.checkbox {
  display: flex;
  width: fit-content;

  &__button {
    --opacity: 0;

    position: relative;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border: 1px solid $dark-25;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: border-color .3s;

    &:hover {

      &:not(checked) {
        border-color: $purple;
      }
    }

    &:focus {
      box-shadow: 0 0 2px $dark-50;
    }

    &:checked {
      --opacity: 1;

      border-color: $purple;
    }

    &:after {
      position: absolute;
      top: 4px;
      left: 6px;
      width: 6px;
      height: 8px;
      border-width: 2px;
      border-right-style: solid;
      border-bottom-style: solid;
      border-image: $gradient 1;
      transform: rotate(45deg);
      opacity: var(--opacity, 0);
      transition: opacity .3s;
      content: "";
    }

  }

  &__text {
    padding-left: 10px;
    color: $dark-50;
    line-height: 1.125rem; //18px при базовом размере шрифта 16px
    cursor: pointer;
    user-select: none;

    &_bold {
      color: $dark-75;
      font-weight: bold;
    }
  }
}