extends ../main-layout/main-layout
block page-meta
  meta(name="keywords" content="Colors, Fonts, Toxin")
  meta(name="description" content="Toxin colors and fonts demonstration page")
  title Colors & Fonts
block body
  include ../../blocks/logo/logo
  include ../../blocks/color-description/color-description
  include ../../blocks/text-type/text-type
  .colors-and-fonts__wrapper
    .colors-and-fonts__logo
      +logo()
    main.colors-and-fonts__container
      section.colors-and-fonts__column.colors-and-fonts__col-1
        .colors-and-fonts__item
          +color-description("dark-shade-100", "Dark Shade 100%", "#1F2041")
        .colors-and-fonts__item
          +color-description("dark-shade-75", "Dark Shade 75%", "#1F2041")
        .colors-and-fonts__item
          +color-description("dark-shade-50", "Dark Shade 50%", "#1F2041")
        .colors-and-fonts__item
          +color-description("dark-shade-25", "Dark Shade 25%", "#1F2041")
        .colors-and-fonts__item
          +color-description("dark-shade-5", "Dark Shade 5%", "#1F2041")
        .colors-and-fonts__item
          +color-description("purple", "Purple", "#BC9CFF")
        .colors-and-fonts__item
          +color-description("green", "Green", "#6FCF97")
      section.colors-and-fonts__column.colors-and-fonts__col-2
        .colors-and-fonts__item.colors-and-fonts__item_margin-large.colors-and-fonts__item_width-400
          +text-type("H1", "This one is the sub-section or widget title", "large")
        .colors-and-fonts__item.colors-and-fonts__item_margin-large.colors-and-fonts__item_width-400
          +text-type("H2", "Next one is the item title inside widgets", "medium")
        .colors-and-fonts__item.colors-and-fonts__item_margin-large.colors-and-fonts__item_width-400
          +text-type("H3", "This is a label or CTA text", "small")
        .colors-and-fonts__item.colors-and-fonts__item_margin-large.colors-and-fonts__item_width-400
          +text-type("Body", "This is the body text which is used for most of the design, like paragraphs, lists, etc.")