.colors-and-fonts {
  padding: 30px 0 145px;

  &__logo {
    margin-bottom: 67px;
    padding-left: 30px;

    @media (max-width: 700px) {
      display: none;
    }
  }

  &__container {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;

    @media (max-width: 1170px) {
      padding: 0 30px;
    }

    @media (max-width: 700px) {
      flex-direction: column;
    }
  }

  &__column {
    width: 100%;
  }

  &__col-1 {
    @media (max-width: 700px) {
      margin-bottom: 50px;
    }
  }

  &__col-2 {
    max-width: 440px;

    @media (max-width: 700px) {
      max-width: 100%;
    }
  }

  &__item {
    max-width: 270px;
    margin-bottom: 20px;

    @media (max-width: 700px) {
      margin-right: auto;
      margin-left: auto;
    }

    &_width-large {
      max-width: 400px;
    }

    &_margin-large {
      margin-bottom: 50px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
