@import "../../assets/scss/colors.scss";

.calendar {

  &__arrow {
    font-family: Material Icons;
    font-size: 24px;
    line-height: 20px;
    color: $purple;
    }

  &__buttons-wrapper{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: Montserrat, OpenSans, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  &__clear-button{
    text-transform: inherit;
    color: $dark-50;
    outline: none;
  }

  &__append-button{
    text-transform: inherit;
    color: $purple;
    outline: none;
  }
}


.datepicker{
  width: 320px;
  box-sizing: border-box;
  padding: 0 19px;
  z-index: 99999;

  &--pointer{
    display: none;
  }

  &--nav{
    height: 64px;
    padding: 0;
    border: none;
    margin-bottom: 10px;
    &-title{
      font-family: Quicksand, OpenSans, sans-serif;
      font-weight: bold;
      font-size: 19px;
      line-height: 24px;
      color: $dark-100;
    }

    &-action{
      width: 24px;
    }
  }

  &--content {
    padding: 0;
  }

  &--days-names{
    margin: 0;
  }

  &--day-name, &--cell {
    font-family: Montserrat, OpenSans, sans-serif;
    font-size: 12px;
    line-height: 15px;
  }
  &--day-name, &--cell-day{
    height: 40px;
    width: 40px;
  }

  &--day-name{
    font-weight: bold;
    text-transform: none;
    color: $purple;
  }
}




.datepicker--cell{
  color: $dark-50;

  &.-current-{
    color: white;
    font-weight: bold;
  }

  &.-focus-{
    background: inherit;
  }

  &.-selected-{
    border-radius: 22px;
    background: $gradient;
    position: relative;
    &.-focus-{
      background: $gradient;
    }

    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: $gradient;
      opacity: 0.25;
      z-index: -1;
    }

  }

  &.-range-from-{
    &:after{
      border-bottom-left-radius: 22px;
      border-top-left-radius: 22px;
    }
  }

  &.-range-to-{
    &:after{
      border-bottom-right-radius: 22px;
      border-top-right-radius: 22px;
    }
  }

  &.-in-range-{
    background: $gradient-quarttransparent;
  }

}

.-current-{
  color: white;
  background: $secondary-gradient;
  border-radius: 22px;
}