@import '../../assets/scss/colors.scss';

.title {
  margin: 0;
  color: $dark-100;
  font-weight: bold;

  &_level-high {
    font-size: 1.5rem; //24px при базовом размере шрифта 16px
    font-family: Quicksand, Arial, sans-serif;
  }

  &_level-middle {
    font-size: 1.1875rem; //19px при базовом размере шрифта 16px
    font-family: Quicksand, Arial, sans-serif;
  }

  &_level-low {
    font-size: .75rem; //12px при базовом размере шрифта 16px
    font-family: Montserrat, Arial, sans-serif;
    line-height: .9375rem; //15px при базовом размере шрифта 16px
  }

  &_height-large{
    line-height: 1.875rem; //30px при базовом размере шрифта 16px
  }

  &_height-middle{
    line-height: 1.5rem; //24px при базовом размере шрифта 16px
  }
}