@import "../../assets/scss/colors.scss";

.rate-button{
  display: flex;

  &__star{
    outline: none;

    &:after{
      content: 'star';
      font-family: 'Material Icons';
      font-size: 1.5rem; //24px при базовом размере шрифта 16px
      line-height: 1.25rem; //20px при базовом размере шрифта 16px
      display: flex;
      align-items: center;
      text-align: center;
      background: $gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      outline: none;
      user-select: none;
      cursor: pointer;
    }

    &:checked ~ &{
      &:after{
        content: "star_border";
      }
    }
  }
}