@import '../../assets/scss/colors.scss';

.rate-button {
  display: flex;
  max-width: fit-content;

  &__star {
    margin: 0;
    appearance: none;

    &:after {
      font: 1.5rem 'Material Icons';
      line-height: 1.25rem; //20px при базовом размере шрифта 16px
      background: $gradient;
      -webkit-background-clip: text;
      cursor: pointer;
      content: 'star';
      user-select: none;
      -webkit-text-fill-color: transparent;
    }

    &:checked ~ & {

      &:after {
        content: 'star_border';
      }
    }
  }
}
