@import "../../assets/scss/colors.scss";

.radio-button {
  display: flex;
  width: fit-content;

  &__button {
    --opacity: 0;
    position: relative;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border: 1px solid $dark-25;
    border-radius: 100%;
    outline: none;
    cursor: pointer;

    &:hover {

      &:not(checked) {
        border-color: $purple;
      }
    }

    &:focus {
      box-shadow: 0 0 2px $dark-50;
    }

    &:after {
      position: absolute;
      top: 3px;
      left: 3px;
      width: 12px;
      height: 12px;
      background: $gradient;
      border-radius: 100%;
      opacity: var(--opacity, 0);
      content: "";
    }

    &:checked {
      --opacity: 1;
      border-color: $purple;
    }
  }

  &__text {
    padding-left: 10px;
    color: $dark-50;
    line-height: 1.125rem; //18px при базовом размере шрифта 16px
    cursor: pointer;
    user-select: none;
  }

  &__button:checked + &__text {
    color: $dark-75;
  }
}
