@import '../../assets/scss/colors.scss';

.radio-button {
  display: flex;
  cursor: pointer;

  &__button {
    --opacity: 0;

    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 100%;
    border: 1px solid $dark-25;
    outline: none;

    &:hover {
      &:not(checked) {
        border-color: $purple;
      }
    }

    &:focus {
      box-shadow: 0 0 2px $dark-50;
    }

    &:after {
      opacity: var(--opacity, 0);

      content: '';
      width: 12px;
      height: 12px;
      left: 3px;
      top: 3px;
      border-radius: 100%;
      background: $gradient;
      position: absolute;
    }

    &:checked {
      --opacity: 1;

      border-color: $purple;
    }


  }

  &__text {
    padding-left: 10px;
    line-height: 1.125rem; //18px при базовом размере шрифта 16px
    color: $dark-50;
    user-select: none;
  }

  &__button:checked + &__text {
    color: $dark-75;
  }
}