.registration {

  &__container {
    display: flex;
    justify-content: center;
    padding: 19px 0 19px 5px;
    background-image: url("./images/registration-background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-origin: padding-box;

    @media (max-width: 1190px) {
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  &__card {
    width: 100%;
    max-width: 380px;
    background: white;
    border-radius: 4px;
  }
}
