.registration {

  &__container {
    background-image: url('./images/registration-background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-origin: padding-box;
    background-size: cover;

    display: flex;
    justify-content: center;
    padding: 19px 0 19px 5px;

    @media (max-width: 1190px) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &__card {
    background: white;
    max-width: 380px;
    width: 100%;
    border-radius: 4px;
  }
}