extends ../layout/layout
block content
    include ../../blocks/registration-card/registration-card
    main.registration__container
        .registration__card
            +registration-card('Регистрация аккаунта')