extends ../layout/layout
block page-meta
    meta(name="keywords" content="Registration, Toxin")
    meta(name="description" content="Toxin registration page")
    title Registration

block content
    include ../../blocks/registration-card/registration-card
    main.registration__container
        .registration__card
            +registration-card("Регистрация аккаунта", "mock-address")