@import '../../assets/scss/colors.scss';

.home {
  padding: 70px 0 22px;
  background: padding-box no-repeat center/cover url('./images/home-background.jpg');

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    margin: 0 auto;

    @media (max-width: 1190px) {
      padding: 0 30px;
    }

    @media (max-width: 1024px) {
      align-items: center;
    }
  }

  &__card {
    max-width: 380px;
    margin-bottom: 315px;
    background: white;
    border-radius: 4px;
  }

  &__tagline {
    align-self: flex-end;
    max-width: 260px;
    margin: 0;
    line-height: 1.5rem; //24px при базовом размере шрифта 16px
    text-align: right;

    @media (max-width: 1024px) {
      align-self: center;
      max-width: 100%;
      text-align: center;
    }
  }
}
