@import "../../assets/scss/colors.scss";

.home{


  background-image: url('../../assets/images/home-background.png');
  background-repeat: no-repeat;
  //background-attachment: fixed;
  background-position: center center;
  background-origin: padding-box;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 18px;

  &__container{
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    margin: 0 auto;
  }

  &__card{
    max-width: 380px;
    background: white;
    margin-bottom: 320px;
  }

  &__text{
    font-family: Montserrat, OpenSans, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: $dark-75;
    text-align: right;
    max-width: 260px;
    align-self: flex-end;
  }
}