@import '../../assets/scss/colors.scss';

.apartment-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;


  &__number-wrapper {
    display: flex;
    align-items: baseline;
    font-family: Quicksand, OpenSans, sans-serif;
    font-weight: bold;
  }

  &__number-symbol {
    color: $dark-100;
  }

  &__number {
    font-size: 1.1875rem; //19px при базовом размере шрифта 16px
    color: $dark-100;

    &_large {
      line-height: 1.875rem; //30px при базовом размере шрифта 16px
      font-size: 1.5rem; //24px при базовом размере шрифта 16px
    }
  }

  &__lux {
    font-family: Montserrat, OpenSans, sans-serif;
    font-size: 0.75rem; //12px при базовом размере шрифта 16px
    text-transform: uppercase;
    color: $purple;
  }

  &__price-wrapper {
    color: $dark-50;
  }

  &__price {
    font-weight: bold;
  }

  &__measure {
    font-size: 0.75rem; //12px при базовом размере шрифта 16px
  }

}