@import "../../assets/scss/colors.scss";

.apartment-info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;


  &__number-wrapper {
    display: flex;
    align-items: baseline;
    font-weight: bold;
    font-family: Quicksand, OpenSans, sans-serif;
  }

  &__number-symbol {
    color: $dark-100;
  }

  &__number {
    color: $dark-100;
    font-size: 1.1875rem; //19px при базовом размере шрифта 16px

    &_large {
      font-size: 1.5rem; //24px при базовом размере шрифта 16px
      line-height: 1.875rem; //30px при базовом размере шрифта 16px
    }
  }

  &__lux {
    color: $purple;
    font-size: .75rem; //12px при базовом размере шрифта 16px
    font-family: Montserrat, OpenSans, sans-serif;
    text-transform: uppercase;
  }

  &__price-wrapper {
    color: $dark-50;
  }

  &__price {
    font-weight: bold;
  }

  &__measure {
    font-size: .75rem; //12px при базовом размере шрифта 16px
  }

}