mixin apartment-info({number, price, currency, largeNumber=false, lux=false})
    - let number_classes = ["apartment-info__number"]
    if largeNumber
        - number_classes.push("apartment-info__number_large")
    .apartment-info
        .apartment-info__number-wrapper
            span.apartment-info__number-symbol №&nbsp;
            span(class=number_classes)=number
            if lux
                span.apartment-info__lux &nbsp;люкс
        .apartment-info__price-wrapper
            - let priceWithCurrency = price + currency;
            span.apartment-info__price !{priceWithCurrency}
            span.apartment-info__measure &nbsp;в сутки