include ../../blocks/expandable-checkbox-list/expandable-checkbox-list

doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        meta(name="keywords" content="Toxin")
        meta(name="description" content="Toxin demonstration page")
        title Main
        link(href="./assets/css/app.css")
    body
        .main__container
            +expandable-checkbox-list("expandable checkbox list", [{text: "Завтрак", checked: false}, {
                text: "Письменный стол",
                checked: true
            }, {text: "Стул для кормления", checked: true}], true)
            //a(href='./pages/forms-elements/forms-elements.html') forms
            //a(href='./pages/colors-and-fonts/colors-and-fonts.html') colors and fonts
            //a(href='./pages/cards/cards.html') cards
            //a(href='./pages/headers-and-footers/headers-and-footers.html') headers and footers
            //a(href='./pages/registration/registration.html') registration
            //a(href='./pages/sign-in/sign-in.html') sign in
            //a(href='./pages/room-details/room-details.html') room details
            //a(href='./pages/search/search.html') search
            //a(href='./pages/home/home.html') home