doctype html
html(lang="en")
    head
        link(rel="apple-touch-icon" sizes="180x180" href="./assets/favicons/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="./assets/favicons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="./assets/favicons/favicon-16x16.png")
        link(rel="mask-icon" href="./assets/favicons/pinned-safari-icon.svg" color="purple")
        link(rel="manifest" href="./assets/favicons/site.webmanifest")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")

        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        meta(name="keywords" content="Toxin")
        meta(name="description" content="Toxin demonstration page")
        title Main
        link(href="../../assets/css/app.css")
        link(href="./assets/css/app.css" rel="stylesheet")
    body
        .index
            .index__container
                .index__block
                    .index__item
                        a(href="./pages/forms-elements/forms-elements.html") forms
                    .index__item
                        a(href="./pages/colors-and-fonts/colors-and-fonts.html") colors and fonts
                    .index__item
                        a(href="./pages/cards/cards.html") cards
                    .index__item
                        a(href="./pages/headers-and-footers/headers-and-footers.html") headers and footers
                .index__block
                    .index__item
                        a(href="./pages/room-details/room-details.html") room details
                    .index__item
                        a(href="./pages/search/search.html") search
                    .index__item
                        a(href="./pages/home/home.html") home
                    .index__item
                        a(href="./pages/registration/registration.html") registration
                    .index__item
                        a(href="./pages/sign-in/sign-in.html") sign in