extends ../main-layout/main-layout

block page-meta
    meta(name="keywords" content="Toxin")
    meta(name="description" content="Toxin demonstration page")
    each file in htmlWebpackPlugin.files.css
      if /app|index/i.test(file)
        link(href=file rel="stylesheet")
    title Index

block body
  .index
    .index__container
      .index__block
        .index__item
          a.index__item-link(href="./pages/forms-elements/forms-elements.html") forms
        .index__item
          a.index__item-link(href="./pages/colors-and-fonts/colors-and-fonts.html") colors and fonts
        .index__item
          a.index__item-link(href="./pages/cards/cards.html") cards
        .index__item
          a.index__item-link(href="./pages/headers-and-footers/headers-and-footers.html") headers and footers
      .index__block
        .index__item
          a.index__item-link(href="./pages/room-details/room-details.html") room details
        .index__item
          a.index__item-link(href="./pages/search/search.html") search
        .index__item
          a.index__item-link(href="./pages/home/home.html") home
        .index__item
          a.index__item-link(href="./pages/registration/registration.html") registration
        .index__item
          a.index__item-link(href="./pages/sign-in/sign-in.html") sign in

  each file in htmlWebpackPlugin.files.js
    if /app|index/i.test(file)
      script(src=file)