mixin dropdown()
    .iqdropdown.js-dropdown-fg(id='elem')
        p.iqdropdown-selection(data-seletion-text="спальня" data-text-plural="спальни")
        .iqdropdown-menu
            .iqdropdown-menu-option(data-id='rooms-bedroom' data-forms='спальня, спальни, спален')
                div
                    p.iqdropdown-item Спальни
            .iqdropdown-menu-option(data-id='rooms-beds' data-forms='кровать, кровати, кроватей')
                div
                    p.iqdropdown-item Кровати
            .iqdropdown-menu-option(data-id='rooms-bathrooms' data-forms='ванная комната, ванные комнаты, ванных комнат')
                div
                    p.iqdropdown-item Ванные комнаты
            .dropdown__buttons-wrapper
                button.dropdown__clear-button
                button.dropdown__append-button