@import '../../assets/scss/colors.scss';

.dropdown{
  &__disabled{
    opacity:0.25;
  }

  &__buttons-wrapper{
    pointer-events: none;
  }
}

.iqdropdown .iqdropdown-item-controls button.dropdown__disabled:hover {
  background:none;
  cursor: auto;
}

.iqdropdown{
  box-sizing: border-box;
  height: 44px;
  border: 1px solid $dark-25;
  border-radius:2px 2px 0 0;
}


.iqdropdown.menu-open{
  border-color: $dark-50;

  & .iqdropdown-selection{
    &:after{
      background: none;
      transform: rotate(-180deg);
    }
  }
}

.iqdropdown .iqdropdown-selection{
  font-family: Montserrat, OpenSans, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $dark-75;

  &:after{
    content: "expand_more";
    background: none;
    font-family: "Material Icons";
    font-size: 24px;
    line-height: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
  }
}

.iqdropdown .iqdropdown-menu{
  padding-top: 7px;
  top: 44px;
  border: 1px solid $dark-50;
  box-sizing: border-box;
  border-radius:0 0 2px 2px;
  box-shadow: 0 10px 20px $dark-5;
}

.iqdropdown .iqdropdown-item-controls{
  height: auto;
}

.iqdropdown .iqdropdown-menu-option{
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  padding-right: 7px;
}

.iqdropdown-content {
  & .iqdropdown-item {
    font-family: Montserrat, OpenSans, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark-100;
  }
}

.iqdropdown .iqdropdown-item-controls{
  & button.button-decrement, & button.button-increment{
    box-sizing: border-box;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid $dark-25;
    position: relative;

    &:after{
      position: absolute;
      font-family: Montserrat, OpenSans, sans-serif;
      font-size: 18px;
      line-height: 22px;
      color: $dark-50;
    }

  }

  & button.button-decrement{
    &:after{
      content: "-";
    }
  }

  & button.button-increment{
    &:after{
      content: "+";
    }
  }
}

.iqdropdown .iqdropdown-item-controls .counter{
  box-sizing: border-box;
  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-family: Montserrat, OpenSans, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: $dark-100;
}


.iqdropdown .icon-decrement.icon-increment:before,
.iqdropdown .icon-decrement:after,
.iqdropdown .icon-decrement.icon-increment,
.iqdropdown .icon-decrement {
  display: none;
}

.iqdropdown .icon-decrement.icon-increment,
.iqdropdown .icon-decrement {
  font-family: Montserrat, OpenSans, sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: $dark-50;
}