include ../logo-with-text/logo-with-text
include ../subscription-textfiled/subscription-textfield
include ../footer-navigation/footer-navigation
include ../copyright/copyright

mixin footer(descriptionText, menu, subscriptionTitle, subscriptionDescription)

    .footer
        .footer__container
            .footer__company-desription
                .footer__logo
                    +logo-with-text()
                p.footer__description-text=descriptionText
            .footer__menu
                 each subMenu in menu
                    .footer__submenu
                        +footer-navigation(subMenu.title, subMenu.links)
            .footer__subscription-wrapper
                .footer__subsription-form
                    .footer__subcription-form-title=subscriptionTitle
                    .footer__subcription-form-text=subscriptionDescription
                    .footer__subcription-form-field
                        +subscription-textfield("Your email address", "Email", "#")