@import "../../assets/scss/colors.scss";

.footer{
  box-sizing: border-box;
  width: 100%;
  padding: 100px 0;
  box-shadow: 0 1px 0 rgba(31, 32, 65, 0.1);

  @media (max-width: 750px) {
    display: none;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1160px;
    margin: auto;


    @media (max-width: 900px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__company-desription{
    max-width: 260px;

    @media (max-width: 900px) {
      margin-bottom: 20px;
    }
  }

  &__logo{
    margin-bottom: 17px;
  }

  &__description-text{
    line-height: 1.5rem;  //24px при базовом размере шрифта 16px
  }

  &__subscription-and-menu-wrapper{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }

  &__menu{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

    @media (max-width: 900px) {
      display: none;
    }
  }

  &__submenu{
    max-width: 200px;
    width: 100%;
  }


  &__subsription-form{
    display: flex;
    flex-direction: column;
    max-width: 260px;
    width: 100%;
  }

  &__subcription-form-title{
    text-transform: uppercase;
    margin-bottom: 21px;
  }

  &__subcription-form-text{
    line-height: 1.5rem;  //24px при базовом размере шрифта 16px
    margin-bottom: 20px;
  }

  &__subcription-form-field{}
}