@import "../../assets/scss/colors.scss";

.footer{
  //width: 1440px;
  //background: white;
  height: 372px;
  width: 100%;
  box-shadow: 0 1px 0 rgba(31, 32, 65, 0.1);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 100px;
    padding-left: 140px;
    padding-right: 140px;
  }

  &__company-desription{
    flex-basis: 260px;
  }

  &__logo{
    margin-bottom: 20px;
  }

  &__description-text{
    font-family: Montserrat, OpenSans, sans-serif;
    font-size: 14px;
    line-height: 24px;
  }

  &__menu{
    display: flex;
    flex-basis: 513px;
    justify-content: space-between;
  }

  &__subscription-wrapper{
    display: flex;
    justify-content: flex-end;
    flex-basis: 300px;
  }

  &__subsription-form{
    flex-basis: 260px;
  }

  &__subcription-form-title{
    font-family: Montserrat, OpenSans, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark-100;
    margin-bottom: 21px;
  }

  &__subcription-form-text{
    font-family: Montserrat, OpenSans, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: $dark-75;
    margin-bottom: 20px;
  }

  &__subcription-form-field{}
}