@import '../../assets/scss/colors';

.link {
  font-weight: bold;
  font-size: 0.75rem; //12px при базовом размере шрифта 16px
  line-height: 0.9375rem; //15px при базовом размере шрифта 16px
  text-transform: uppercase;
  color: $purple;
  user-select: none;

  &_disabled {
    color: $dark-50;
    cursor: auto;
    pointer-events: none;
  }
}