@import "../../assets/scss/colors";

.link{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $purple;
  user-select: none;

  &_disabled{
    color: $dark-50;
    cursor: auto;
    pointer-events: none;
  }
}