@import "../../assets/scss/colors.scss";

.link-button {
  width: max-content;
  padding: 2px;
  background: $gradient;
  border-radius: 22px;
  outline: none;
  cursor: pointer;
  user-select: none;

  &:focus,
  &:hover,
  &_disabled {
    background: $gradient-semitransparent;
  }

  &_disabled {
    cursor: auto;
    pointer-events: none;
  }


  &__content {
    display: flex;
    justify-content: center;
    padding: 9px 18px;
    color: $purple;
    font-weight: bold;
    font-size: .75rem; //12px при базовом размере шрифта 16px
    text-transform: uppercase;
    background: white;
    border-radius: inherit;

    &_filled {
      color: white;
      background: transparent;
    }

    &_large {
      padding: 13px 18px;
    }
  }
}