mixin link-button(text, link, filled=false, isLarge=false)
    - let content_classes = ['link-button__content']
    - let wrapper_classes = ['link-button']
    if filled
        - content_classes.push('link-button__content_filled')
    if isLarge
        - wrapper_classes.push('link-button_large')
    div(class=wrapper_classes)
        a(class=content_classes)=text