@import '../../assets/scss/colors.scss';

.link-button{
  display: flex;
  text-align: center;
  box-sizing: border-box;
  padding: 2px;
  border-radius: 22px;
  background: $gradient;
  user-select: none;
  cursor: pointer;


  &:hover, &_disabled{
    background: $gradient-semitransparent;
  }
  &_disabled{
    cursor: auto;
    pointer-events: none;
  }

  &__content{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 9px 0;
    border-radius: inherit;
    color: $purple;
    font-size: 0.75rem; //12px при базовом размере шрифта 16px
    font-weight: bold;
    text-transform: uppercase;
    background: white;

    &_filled{
      background: transparent;
      color: white;

    }

    &_large{
      padding: 14px 0;
    }

  }

}