mixin link-button(text, link, filled=false)
    - let classes = ['link-button__content']
    if filled
        - classes.push('link-button__content_filled')
    .link-button
        .link-button__gradient-border
        a(class=classes)=text