@import '../../assets/scss/colors.scss';


.dropdown {

  position: relative;

  &__field {
    box-sizing: border-box;
    display: flex;
    padding: 9px 0;
    border: 1px solid $dark-25;
    border-radius: 2px 2px 0 0;
  }

  &_expanded &__field {
    border-color: $dark-50;
  }

  &__text {
    display: flex;
    width: 100%;
    padding-left: 15px;
    line-height: 1.5rem; //24px при базовом размере шрифта 16px
  }

  &__expand-button {
    display: flex;
    justify-content: center;
    max-width: 44px;
    width: 100%;

    font-family: 'Material Icons';
    font-size: 1.5rem; //24px при базовом размере шрифта 16px
    color: $dark-50;
    cursor: pointer;
    user-select: none;
    outline: none;

    &:focus{
      font-weight: bold;
    }

    &_rotated {
      transform: rotate(-180deg);
    }

  }


  &__menu {
    box-sizing: border-box;
    display: none;
    width: 100%;
    position: absolute;
    z-index: 3;

    background: white;
    border: 1px solid $dark-50;
    border-top: none;
    border-radius: 0 0 2px 2px;
    padding-left: 14px;
    padding-right: 7px;
    padding-top: 4px;
  }

  &_expanded &__menu {
    display: block;
  }


  &__menu-item {
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu-item-name {
    text-transform: uppercase;
  }

  &__menu-item-controls {
    display: flex;
    align-items: center;
  }

  &__amount, &__decrease, &__increase {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__decrease, &__increase {
    border-radius: 100%;
    box-sizing: border-box;
    border: 1px solid $dark-25;
    font-size: 1.125rem; //18px при базовом размере шрифта 16px
    color: $dark-50;
    outline: none;
    user-select: none;

    &:focus{
      font-weight: bold;
    }

    &_disabled {
      opacity: 0.4;
      cursor: auto;
    }
  }


  &__amount {
    font-weight: bold;
    font-size: 0.75rem; //12px при базовом размере шрифта 16px
    line-height: 1.9375rem; //15px при базовом размере шрифта 16px
    color: $dark-100;
  }


  &__buttons-wrapper {
    display: flex;
    padding: 13px 0;
    justify-content: space-between;
  }

  &__clear-button, &__apply-button {
    font-weight: bold;
    font-size: 0.75rem; //12px при базовом размере шрифта 16px
    line-height: 0.9375rem; //15px при базовом размере шрифта 16px
    text-transform: uppercase;
    outline: none;
  }

  &__clear-button {
    color: $dark-50;

    &:focus {
      color: $dark-75;
    }

    &_hidden {
      visibility: hidden;
    }

  }

  &__apply-button {
    color: $purple;

    &:focus {
      color: purple;
    }
  }
}

