@import '../../assets/scss/colors.scss';

.dropdown {
  position: relative;

  &__field {
    display: flex;
    box-sizing: border-box;
    padding: 9px 0;
    border: 1px solid $dark-25;
    border-radius: 2px 2px 0 0;
    cursor: pointer;
  }

  &_expanded &__field {
    border-color: $dark-50;
  }

  &__text {
    display: flex;
    width: 100%;
    padding-left: 15px;
    line-height: 1.5rem; //24px при базовом размере шрифта 16px
  }

  &__expand-button {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 44px;
    color: $dark-50;
    font: 1.5rem 'Material Icons';
    outline: none;
    cursor: pointer;
    background: none;
    border: none;
    user-select: none;

    &:focus {
      font-weight: bold;
    }

    &_rotated {
      transform: rotate(-180deg);
    }
  }

  &__menu {
    position: absolute;
    z-index: 3;
    display: none;
    box-sizing: border-box;
    width: 100%;
    padding: 4px 7px 0 14px;
    background: white;
    border: 1px solid $dark-50;
    border-top: 0;
    border-radius: 0 0 2px 2px;
  }

  &_expanded &__menu {
    display: block;
  }

  &__menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
  }

  &__menu-item-name {
    text-transform: uppercase;
  }

  &__menu-item-controls {
    display: flex;
    align-items: center;
  }

  &__amount,
  &__decrease,
  &__increase {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
  }

  &__decrease,
  &__increase {
    box-sizing: border-box;
    color: $dark-50;
    font-size: 1.125rem; //18px при базовом размере шрифта 16px
    border: 1px solid $dark-25;
    border-radius: 100%;
    outline: none;
    font: inherit;
    user-select: none;
    background: none;
    cursor: pointer;

    &:focus {
      font-weight: bold;
    }

    &_disabled {
      cursor: auto;
      opacity: .4;
    }
  }

  &__amount {
    color: $dark-100;
    font-weight: bold;
    font-size: .75rem; //12px при базовом размере шрифта 16px
    line-height: 1.9375rem; //15px при базовом размере шрифта 16px
  }

  &__buttons-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 13px 0;
  }

  &__clear-button,
  &__apply-button {
    font-family: inherit;
    font-weight: bold;
    font-size: .75rem; //12px при базовом размере шрифта 16px
    line-height: .9375rem; //15px при базовом размере шрифта 16px
    text-transform: uppercase;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__clear-button {
    color: $dark-50;

    &:focus {
      color: $dark-75;
    }

    &_hidden {
      visibility: hidden;
    }
  }

  &__apply-button {
    color: $purple;

    &:focus {
      color: purple;
    }
  }
}
