@import '../../assets/scss/colors.scss';

.registration-card {
  box-sizing: border-box;
  padding: 40px 30px 30px 30px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__title {
    line-height: 1.875rem; //30px при базовом размере шрифта 16px
    margin-bottom: 20px;
  }

  &__name-field {
    margin-bottom: 10px;
  }

  &__sername-field {
    margin-bottom: 10px;
  }

  &__gender-choice {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
  }

  &__choice-variant {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__subtitle {
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__birth-date-field {
    margin-bottom: 20px;
  }

  &__email-field {
    margin-bottom: 10px;
  }

  &__password-field {
    margin-bottom: 10px;
  }

  &__spetial-offer {
    margin-bottom: 24px;
  }

  &__button {
    margin-bottom: 30px;
  }

  &__have-account {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__have-account-text {
    display: flex;
    align-items: center;
  }

  &__have-account-button {
    max-width: 99px;
    width: 100%;
  }
}