@import "../../assets/scss/colors";

.textfield {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid $dark-25;
  border-radius: 4px;
  padding: 12px 15px;
  line-height: 18px;
  color: $dark-75;
  user-select: none;
  outline: none;

  &::placeholder{
    color: $dark-25;
  }

  &:focus, &:hover, &_hovered{
    border: 1px solid $dark-50;
  }

  &:focus::placeholder, &:hover::placeholder, &_hovered::placeholder{
    color: $dark-75;
  }
}