mixin textfield({type, placeholder, name, masked = false, hovered = false})
    - let textfieldClasses = ["textfield"]
    if masked
        - textfieldClasses.push("textfield_masked")
        - textfieldClasses.push("js-textfield_masked")
    if hovered
        - textfieldClasses.push("textfield_hovered")

    input(class=textfieldClasses type=type, name=name, placeholder=placeholder)