@import "../../assets/scss/colors.scss";

.footer-navigation {
  display: flex;
  flex-direction: column;
  &__title {
    font-family: Montserrat, OpenSans, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark-100;
    margin-bottom: 21px;
  }
  &__menu {
  }

  &__menu-item{
    margin-bottom: 14px;
    //height: 18px;
  }

  &__link {
    font-family: Montserrat, OpenSans, sans-serif;
    font-size: 14px;
    color: $dark-50;
  }
}