mixin footer-navigation(title, links)
        .footer-navigation
            .footer-navigation__title=title
            .footer-navigation__menu
                ul
                each item in links
                    li.footer-navigation__menu-item
                        a.footer-navigation__link(href=item.link)=item.text