@import "../../assets/scss/colors.scss";

.footer-navigation {
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 22px;
    text-transform: uppercase;
  }

  &__menu-item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: $dark-50;
    line-height: 1.125rem; //18px при базовом размере шрифта 16px
  }
}
