@import '../../assets/scss/colors.scss';

.footer-navigation {

  &__title {
    margin-bottom: 22px;
    text-transform: uppercase;
  }

  &__menu {
    margin: 0;
  }

  &__menu-item {
    margin-bottom: 20px;
    list-style: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: $dark-50;
    line-height: 1.125rem; //18px при базовом размере шрифта 16px
    text-decoration: none;
  }
}
