extends ../main-layout/main-layout
block body
  .layout
    block header
      .layout__header
        +header({
          links: [{link: "mock-address", text: "О нас", current: false, dropdowned: false},
            {link: "mock-address", text: "Услуги", current: false, dropdowned: true},
            {link: "mock-address", text: "Вакансии", current: false, dropdowned: false},
            {link: "mock-address", text: "Новости", current: false, dropdowned: false},
            {link: "mock-address", text: "Соглашения", current: false, dropdowned: true}],
          loginButtonText: "войти",
          registerButtonText: "зарегистрироваться",
          authorized: false
        })
    block content
    block footer
      .layout__footer
        +footer({
          descriptionText: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
          menu: [
            {
              title: "Навигация",
              links: [{link: "mock-address", text: "О нас"}, {link: "mock-address", text: "Новости"}, {
                link: "mock-address",
                text: "Служба поддержки"
              }, {link: "mock-address", text: "Услуги"}]
            },
            {
              title: "О нас",
              links: [{link: "mock-address", text: "О сервисе"}, {
                link: "mock-address",
                text: "Наша команда"
              }, {
                link: "mock-address",
                text: "Вакансии"
              }, {link: "mock-address", text: "Инвесторы"}]
            },
            {
              title: "Служба поддержки",
              links: [{link: "mock-address", text: "Соглашения"}, {
                link: "mock-address",
                text: "Сообщества"
              }, {
                link: "mock-address",
                text: "Связь с нами"
              }]
            }
          ],
          subscriptionTitle: "Подписка",
          subscriptionDescription: "Получайте специальные предложения и новости сервиса",
          link: "mock-address"
        })