@import "../../assets/scss/colors.scss";

.apartment-booking-card {
  box-sizing: border-box;
  padding: 40px 30px 30px;
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, .2);

  @media (max-width: 400px) {
    padding: 40px 15px 30px;
  }

  &__main-info {
    margin-bottom: 21px;
  }

  &__date-dropdown {
    margin-bottom: 20px;
  }

  &__guests {
    margin-bottom: 18px;
  }

  &__guests-header {
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  &__cheque {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__cheque-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    line-height: 1.5rem; //24px при базовом размере шрифта 16px

    &:nth-last-child(2) {
      margin-bottom: 36px;
      line-height: 1.125rem; //18px при базовом размере шрифта 16px
    }
  }

  &__price-label {
    flex-basis: 214px;
    margin-right: 5px;

    @media (max-width: 350px) {
      margin-right: 10px;
    }
  }

  &__price-info {
    display: flex;
    align-items: flex-start;
  }

  &__price-note {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    color: $dark-25;
    font-weight: bold;
    font-size: .75rem; //12px при базовом размере шрифта 16px
    border: 1px solid $dark-25;
    border-radius: 100%;
    cursor: pointer;

    @media (max-width: 350px) {
      display: none;
    }
  }

  &__total {
    display: flex;
    align-items: baseline;
    color: $dark-100;
    font-weight: bold;
    font-size: 1.1875rem; //19px при базовом размере шрифта 16px
    font-family: Quicksand, OpenSans, sans-serif;
  }

  &__line {
    flex-grow: 1;
    border-bottom: .5px dashed $dark-25;
  }
}
