@import "../../assets/scss/colors.scss";

.apartment-booking-card{
  box-sizing: border-box;
  padding: 40px 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__main-info{
    margin-bottom: 20px;
  }

  &__date-dropdown{
    margin-bottom: 20px;
  }

  &__guests{
    margin-bottom: 20px;
  }

  &__guests-header{
    font-family: Montserrat, OpenSans, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark-100;
    margin-bottom: 5px;
  }

  &__guests-dropdown{}



  &__cheque{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__cheque-item{
    display: flex;
    justify-content: space-between;
    font-family: Montserrat, OpenSans, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: $dark-75;
    margin-bottom: 18px;

    &:nth-last-child(2){
      margin-bottom: 30px;
    }
  }

  &__price-info{
    display: flex;
    align-items: flex-start;

  }

  &__price-label {
    display: flex;

    margin-right: 5px;
    flex-basis: 214px;
  }

  &__price-note{
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid $dark-25;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, OpenSans, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: $dark-25;
    position: relative;


    &-text{
      position: absolute;
      top:20px;
      left: 20px;
      display: none;
      border: 1px solid $dark-25;
      background: #FFBA9C;
      font-family: Montserrat, OpenSans, sans-serif;
      font-size: 14px;
      line-height: 18px;
      color: $dark-75;
      padding: 2px;
    }

    &:hover &-text{
      display: block;
    }
  }




  &__result{}

  &__total{
    display: flex;
    font-family: Quicksand, OpenSans, sans-serif;
    font-weight: bold;
    font-size: 19px;
    color: $dark-100;
    align-items: baseline;
  }

  &__total-label{
    width: auto;
  }

  &__line{
    flex-grow: 1;
    border-bottom: 0.5px dashed $dark-25;
  }

  &__total-sum{}
}