mixin form-button(text, isWidthUnlimited=true)
  - let buttonClasses = ["form-button"]
  if isWidthUnlimited
    - buttonClasses.push("form-button_width-unlimited")
  div(class=buttonClasses)
    .form-button__text=text
    .form-button__arrow arrow_forward