@import '../../assets/scss/colors.scss';

.form-button {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 9px 0 9px 46px;
  color: white;
  font-weight: bold;
  font-size: .75rem; //12px при базовом размере шрифта 16px
  text-transform: uppercase;
  background: $gradient;
  border-radius: 22px;
  outline: none;
  user-select: none;

  @media (max-width: 320px) {
    padding: 16px 15px;
  }

  &_width-unlimited {
    width: 100%;
  }

  &:focus,
  &:hover {
    background: $gradient-semitransparent;
  }

  &__text {
    width: 100%;
    text-align: center;
  }

  &__arrow {
    width: 100%;
    max-width: 44px;
    font: normal 1.5rem 'Material Icons';
    text-align: center;
    text-transform: none;

    @media (max-width: 320px) {
      display: none;
    }
  }
}
