@import '../../assets/scss/colors.scss';

.form-button {
  position: relative;
  width: 100%;
  padding: 16px 0;
  background: $gradient;
  border-radius: 22px;
  text-transform: uppercase;
  color: white;
  font-size: 0.75rem; //12px при базовом размере шрифта 16px
  font-weight: bold;
  outline: none;
  user-select: none;

  &:focus, &:hover {
    background: $gradient-semitransparent;
  }

  &__arrow {
    position: absolute;
    font-family: 'Material Icons';
    text-transform: none;
    font-size: 1.5rem; //24px при базовом размере шрифта 16px
    font-weight: normal;
    top: 10px;
    right: 10px;
  }
}