@import '../../assets/scss/colors.scss';

.range-slider__slider{
  height: 6px;
}


.range-slider{
  width: 266px;
}


.range-slider__result-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}

.range-slider__result-label{
  font-family: Montserrat, OpenSans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark-100;
}

.range-slider__result{
  font-family: Montserrat, OpenSans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: $dark-50;
}



.noUi-target{
  box-sizing: border-box;
  border: 1px solid $dark-25;
  border-radius: 3px;
}

.noUi-connects{
  height: 6px;
  top: -1px;
}

.noUi-connect{
  background: $secondary-gradient;
}

.noUi-origin{
  background: red;
}

.noUi-horizontal .noUi-handle{
  box-sizing: border-box;
  height: 16px;
  width: 16px;
  background: $secondary-gradient;
  //background: transparent;
  border: 2px solid white;
  border-radius: 100%;
  //top: -6px;
  right: -8px;
  box-shadow: none;
  outline: none;

  &:after, &:before{
    display: none;
  }
}