@import "../../assets/scss/colors.scss";

.range-slider {

  &__result-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
    font-size: .75rem; //12px при базовом размере шрифта 16px
    line-height: .9375rem; //15px при базовом размере шрифта 16px
    text-transform: uppercase;
  }

  &__result-label {
    color: $dark-100;
    font-weight: bold;
  }

  &__result {
    color: $dark-50;
    text-align: right;
  }

  &__slider {
    height: 6px;
  }
}


// Переопределение свойств плагина
.noUi-target {
  box-sizing: border-box;
  border: 1px solid $dark-25;
  border-radius: 3px;
  cursor: pointer;
}

.noUi-connects {
  top: -1px;
  height: 6px;
}

.noUi-connect {
  background: $secondary-gradient;
}

.noUi-horizontal .noUi-handle {
  right: -8px;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  background: $secondary-gradient;
  border: 2px solid white;
  border-radius: 100%;
  outline: none;
  box-shadow: none;
  cursor: pointer;

  &:focus {
    box-shadow: 0 0 5px $dark-50;
  }

  &:after,
  &:before {
    display: none;
  }
}