mixin range-slider(text)
    .range-slider
        .range-slider__result-container
            .range-slider__result-label=text
            .range-slider__result
        .range-slider__slider.js-range-slider__slider