@import "../../assets/scss/colors.scss";

.search{

  border-bottom: 1px solid $dark-25;


  &__container{
    max-width: 1160px;
    display: flex;
    margin:  0 auto;
    padding-top: 30px;
    padding-bottom: 70px;
  }

  &__filter-column{
    max-width: 326px;
    width: 100%;
  }

  &__result{
    max-width: 835px;
    display: flex;
    flex-direction: column;
  }

  &__results-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
  }


  &__item{
    margin-bottom: 20px;
    max-width: 266px;


    &_width-small{
      max-width: 222px;
    }

    &_margin-large{
      margin-bottom: 30px;
    }

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__item-label{
    display: flex;
    font-family: Montserrat, OpenSans, sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;

    margin-bottom: 5px;

    &_margin-large{
      margin-bottom: 16px;
    }
  }

  &__item-header{
    font-weight: bold;
    color: $dark-100;
  }


  &__subitem{
    margin-bottom: 10px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__text{
    font-family: Montserrat, OpenSans, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: $dark-50;
  }

  &__results-header{
    font-family: Quicksand, OpenSans, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 21px;
  }

  &__result-item{
    max-width: 270px;
    width: 100%;
    margin-right: 12px;
    margin-bottom: 21px;


    &:nth-child(3n){
      margin-right: 0;
    }
  }

  &__pagination{
    align-self: center;
  }

}