extends ../pages-layout/pages-layout
block page-meta
  meta(name="keywords" content="Search, Toxin")
  meta(name="description" content="Toxin search page")
  title Search
block content
  include ../../blocks/date-dropdown/date-dropdown
  include ../../blocks/dropdown/dropdown
  include ../../blocks/range-slider/range-slider
  include ../../blocks/checkbox/checkbox
  include ../../blocks/rich-checkbox/rich-checkbox
  include ../../blocks/expandable-checkbox-list/expandable-checkbox-list
  include ../../blocks/apartment-description-card/apartment-description-card
  include ../../blocks/pagination/pagination
  include ../../blocks/title/title
  -
    let path = require('path');
    let fs = require('fs');
    let descriptionCardsData = JSON.parse(fs.readFileSync(path.normalize('src/pages/search/description-cards-data.json')))
  main.search
    .search__container
      button.search__show-filter-button.js-search__show-filter-button Фильтр
      form.search__filter-column.js-search__filter-column(method="POST" action="mock-address")
        .search__stay-in-hotel-dates
          .search__filter-item-label
            .search__filter-item-name
              +title('low', 'Даты пребывания в отеле')
          +date-dropdown({startDateInterval: '2019-08-19, 2019-08-23'})
        .search__guests
          .search__filter-item-label
            .search__filter-item-name
              +title('low', 'Гости')
          +dropdown({
            placeholder: 'Сколько гостей',
            items: [{
              id: 'adults',
              minAmount: '0',
              maxAmount: '100',
              forms: 'взрослый,взрослых,взрослых',
              itemName: 'взрослые',
              startAmount: '3'
            },
              {
                id: 'children',
                minAmount: '0',
                maxAmount: '100',
                forms: 'ребенок,ребенка,ребят',
                itemName: 'дети',
                startAmount: '0'
              },
              {
                id: 'baby',
                minAmount: '0',
                maxAmount: '100',
                forms: 'младенец,младенца,младенцев',
                itemName: 'младенцы',
                startAmount: '0'
              }
            ],
            withButtons: true,
            generalForms: 'гость,гостя,гостей',
            separatedElementsInInput: 'baby'
          })
        .search__price-range
          .search__price-range-slider
            +range-slider({
              text: 'диапазон цены',
              startLowValue: 5000,
              startHighValue: 10000,
              minValue: 500,
              maxValue: 15000
            })
          p.search__price-range-description Стоимость за сутки пребывания в номере
        .search__permisions-list
          .search__filter-item-label.search__filter-item-label_margin-large
            .search__filter-item-name
              +title('low', 'Правила дома')
          .search__permision
            +checkbox('Можно курить')
          .search__permision
            +checkbox('Можно с питомцами', false, true)
          .search__permision
            +checkbox('Можно пригласить гостей (до 10 человек)', false, true)
        .search__accessibility
          .search__filter-item-label.search__filter-item-label_margin-large
            .search__filter-item-name
              +title('low', 'Доступность')
          .search__accessibility-item
            +rich-checkbox('Широкий коридор', 'Ширина коридоров в номере не менее 91 см.')
          .search__accessibility-item
            +rich-checkbox('Помощник для инвалидов', 'На 1 этаже вас встретит специалист и проводит до номера.')
        .search__facilities
          .search__filter-item-label
            .search__filter-item-name
              +title('low', 'удобства номера')
          +dropdown({
            placeholder: 'Удобства номера',
            items: [
              {
                id: 'bedrooms',
                minAmount: '0',
                maxAmount: '100',
                forms: 'спальня,спальни,спален',
                itemName: 'спальни',
                startAmount: '2'
              },
              {
                id: 'beds',
                minAmount: '0',
                maxAmount: '100',
                forms: 'кровать,кровати,кроватей',
                itemName: 'кровати',
                startAmount: '2'
              },
              {
                id: 'bathrooms',
                minAmount: '0',
                maxAmount: '100',
                forms: 'ванная комната,ванные комнаты,ванных комнат',
                itemName: 'ванные комнаты',
                startAmount: '0'
              }
            ], generalForms: 'удобство, удобства, удобств', separatedElementsInInput: 'bedrooms, beds, bathrooms'
          })
        .search__extra-facilities
          +expandable-checkbox-list('дополнительные удобства', [
            {text: 'Завтрак', checked: false},
            {text: 'Письменный стол', checked: true},
            {text: 'Стул для кормления', checked: true},
            {text: 'Кроватка', checked: true},
            {text: 'Телевизор', checked: false},
            {text: 'Шампунь', checked: false}
          ])
      section.search__result
        .search__results-header
          +title('high', 'Номера, которые мы для вас подобрали', 'large')
        .search__results-list
          each card in descriptionCardsData
            .search__result-item
              +apartment-description-card(card)
        .search__pagination
          +pagination('1', '15', 'mock-address', '1 – 12 из 100+ вариантов аренды')