@import "../../assets/scss/colors.scss";

.search {
  border-bottom: 1px solid $dark-25;

  &__container {
    display: flex;
    justify-content: center;
    max-width: 1160px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 80px;

    @media (max-width: 880px) {
      flex-direction: column;
      align-items: center;
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  &__show-filter-button {
    display: none;
    width: 100%;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid $dark-25;
    outline: none;

    @media (max-width: 880px) {
      display: block;
    }

    &:focus {
      box-shadow: 0 0 5px $dark-50;
    }
  }

  &__filter-column {
    width: 100%;
    max-width: 326px;


    @media (max-width: 880px) {
      max-width: 100%;
      margin-bottom: 50px;
    }

    &_hidden {
      display: none;
    }
  }

  &__result {
    display: flex;
    flex-direction: column;
    max-width: 835px;

    @media (max-width: 1160px) {
      max-width: 560px;
    }

    @media (max-width: 560px) {
      max-width: 270px;
    }
  }

  &__results-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }


  &__item {
    max-width: 266px;
    margin-bottom: 19px;

    @media (max-width: 880px) {
      max-width: 100%;
    }


    &_width-small {
      max-width: 222px;
    }

    &_margin-large {
      margin-bottom: 30px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-label {
    display: flex;
    margin-bottom: 5px;
    text-transform: uppercase;

    &_margin-large {
      margin-bottom: 16px;
    }
  }

  &__item-header {
  }


  &__subitem {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    color: $dark-50;
    font-size: .75rem; //12px при базовом размере шрифта 16px
    line-height: 1.25rem; //20px при базовом размере шрифта 16px
  }

  &__results-header {
    margin-bottom: 20px;
    line-height: 1.875rem; //30px при базовом размере шрифта 16px
  }

  &__result-item {
    width: 100%;
    max-width: 270px;
    margin-right: 12px;
    margin-bottom: 17px;


    @media (min-width: 1160px) {

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @media (max-width: 1160px) {

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @media (max-width: 560px) {
      margin-right: 0;
    }
  }

  &__pagination {
    align-self: center;
  }

}