@import "../../assets/scss/colors.scss";

.pie-chart {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 311px;

  &__chart-wrapper {
    position: relative;
    margin-right: 10px;
  }

  &__chart {
    transform: rotate(90deg);
  }

  &__circle {
    cursor: pointer;
    fill: none;
    stroke-width: 4px;

    &_hovered {
      stroke-width: 6px;
    }
  }

  &__votes {
    position: absolute;
    top: 40px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $dark-100;
    font-weight: bold;
  }

  &__votes-amount {
    margin-bottom: 5px;
    font-size: 24px;
    font-family: Quicksand, OpenSans, sans-serif;
  }

  &__sign {
    font-size: 12px;
    font-family: Montserrat, OpenSans, sans-serif;
    text-transform: uppercase;
  }

  &__list-item {
    position: relative;
    padding-left: 15px;
    color: $dark-75;
    line-height: 1.5rem; //24px при базовом размере шрифта 16px
    text-align: left;
    cursor: pointer;

    &-point {
      position: absolute;
      top: 7px;
      left: 0;
      width: 10px;
      height: 10px;
      background-color: $dark-100;
      border-radius: 100%;
      content: "";
    }
  }

}