@import '../../assets/scss/colors.scss';


.pie-chart {
  display: flex;
  align-items: flex-end;

  &__chart{
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 100%;
    position: relative;
    margin-right: 30px;
  }

  &__first-half {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__great {
    background: $great;
  }

  &__bad {
    background: $bad;
  }


  &__second-half {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__normal {
    background: $gradient;
  }

  &__good {
    background: $good;
  }


  &__center {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 112px;
    width: 112px;
    border-radius: 100%;
    background: white;
  }

  &__sum {
    font-family: Quicksand, OpenSans, sans-serif;
    font-weight: bold;
    font-size: 1.5rem; //24px при базовом размере шрифта 16px
    line-height: 1.875rem; //30px при базовом размере шрифта 16px
    color: $purple;
  }

  &__sum-label {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;

    color: $purple;
  }

}