@import "../../assets/scss/colors.scss";


.pie-chart {
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 100%;
  position: relative;

  &__first-half{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49.2%;
    height: 100%;
  }

  &__great{
    background: $great;
    width: 100%;
    height: 100%;
  }

  &__bad{
    background: $bad;
    width: 100%;
    height: 0%;
  }
  

  &__second-half{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49.2%;
    height: 100%;
  }

  &__normal{
    background: $gradient;
    width: 100%;
    height: 49.2%;
  }

  &__good{
    background: $good;
    width: 100%;
    height: 49.2%;
  }



  &__center{
    top: 4px;
    left: 4px;
    content: '';
    border-radius: 100%;
    height: 112px;
    width: 112px;
    background: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__sum{
    font-family: Quicksand, OpenSans, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    //display: flex;
    //align-items: center;
    //text-align: center;

    color: $purple;
  }
  &__sum-label{
    font-family: Montserrat, OpenSans, sans-serif;
    font-weight: bold;
    font-size: 12px;
    //line-height: 15px;
    text-align: center;
    text-transform: uppercase;

    color: $purple;
  }

}