mixin pie-chart(values)
    .pie-chart.js-pie-chart(data-values=values)
        .pie-chart__first-half.js-pie-chart__first-half
            .pie-chart__great.js-pie-chart__great
            .pie-chart__bad.js-pie-chart__bad
        .pie-chart__second-half.js-pie-chart__second-half
            .pie-chart__normal.js-pie-chart__normal
            .pie-chart__good.js-pie-chart__good
        .pie-chart__center
            .pie-chart__sum.js-pie-chart__sum
            .pie-chart__sum-label голосов