mixin pie-chart(values)
    .pie-chart(data-values=values)
        .pie-chart__first-half
            .pie-chart__great
            .pie-chart__bad
        .pie-chart__second-half
            .pie-chart__normal
            .pie-chart__good
        .pie-chart__center
            .pie-chart__sum
            .pie-chart__sum-label голосов