include ../like-button/like-button

mixin comment(avatarPath, fullName, lastViewedTime, likeAmount, commentText)
    .comment-box
        .comment-box__user-container
            img.comment-box__user-avatar(src=avatarPath, alt="avatar")
            .comment-box__user-info
                p.comment-box__username=fullName
                p.comment-box__last-viewed=lastViewedTime
        .comment-box__comment
            .comment-box__comment-like
                +like-button("comment-like", "comment-like", likeAmount)
            .comment-box__comment-text=commentText