@import "../../assets/scss/colors.scss";

.comment-box{
  display: flex;
  flex-direction: column;

  &__user-container{
    display: flex;
  }

  &__user-avatar{
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border: 2px solid white;
    box-shadow: 0 10px 20px $shadow;
    border-radius: 32px;
  }

  &__user-info{
    padding-left: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: $dark-75;
  }

  &__username{
    font-weight: bold;
  }

  &__comment{
    display: flex;
    padding-top: 10px;
    padding-left: 4px;
  }

  &__comment-text{
    padding-left: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $dark-75;
  }
}