@import "../../assets/scss/colors.scss";

.signin-card {
  box-sizing: border-box;
  width: 100%;
  padding: 40px 30px 30px 30px;
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, .2);

  &__title {
    margin-bottom: 20px;
    line-height: 1.875rem; //30px при базовом размере шрифта 16px
  }

  &__form {
    margin-bottom: 30px;
  }

  &__item {
    margin-bottom: 10px;

    &:nth-last-child(2) {
      margin-bottom: 20px;
    }

  }


  &__no-accaunt-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__sign-in-button-wrapper {
    width: 100%;
    max-width: 99px;
  }
}
