include ../textfield/textfield
include ../form-button/form-button
include ../link-button/link-button

mixin signin-card()
    .signin-card
        h1.signin-card__title Войти
        form.signin-card__form
            .signin-card__item
                +textfield("email", "Email", "email")
            .signin-card__item
                +textfield("password", "Пароль", "password")
            .signin-card__button-wrapper
                +form-button("Войти")
        .signin-card__no-accaunt-wrapper
            p.signin-card__no-accaunt-text Нет аккаунта на Toxin?
            +link-button("Создать", "#", false, true)