@import "../../assets/scss/colors.scss";

.icon-text{
  display: flex;
  &__icon {
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    height: 48px;
    width: 48px;
    font-family: 'Material Icons';
    line-height: 41px;
    display: flex;
    align-items: center;
  }

  &__text{
    padding-left: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: $dark-75;
  }

  &__title{
    font-weight: bold;
  }

  &__description{
    font-weight: normal;
  }

  &_bordered{
    border-bottom: 1px solid $dark-10;
    padding-bottom: 20px;
  }
}