@import "../../assets/scss/colors.scss";

.bullet{
  padding-left: 20px;
  position: relative;
  line-height: 1.5rem; //24px при базовом размере шрифта 16px
  color: $dark-75;
  text-align: left;


  &:before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 7px;
    left: 0;
    border-radius: 100%;
    background-color: $dark-25;
  }

  &_style_great:before{
    background: $great;
  }

  &_style_good:before{
    background: $good;
  }

  &_style_normal:before{
    background: $gradient;
  }

  &_style_bad:before{
    background: $bad;
  }


  &_with-padding{
    padding-bottom: 10px;
  }
}
