mixin bullet(text, withPadding=false, style)
    - let classes = ['bullet']
    - classes.push("bullet_style_" + style)
    if withPadding
        - classes.push("bullet_with-padding")
    li(class=classes)=text