include ../../blocks/logo/logo
include ../../blocks/find-apartment-card/find-apartment-card
include ../../blocks/apartment-booking-card/apartment-booking-card
include ../../blocks/date-dropdown/date-dropdown
include ../../blocks/registration-card/registration-card
include ../../blocks/signin-card/signin-card
include ../../blocks/apartment-description-card/apartment-description-card

doctype html
html(lang="en")
    head
        link(rel="apple-touch-icon" sizes="180x180" href="../../assets/favicons/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="../../assets/favicons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="../../assets/favicons/favicon-16x16.png")
        link(rel="mask-icon" href="../../assets/favicons/pinned-safari-icon.svg" color="purple")
        link(rel="manifest" href="../../assets/favicons/site.webmanifest")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")

        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        meta(name="keywords" content="Cards, Toxin")
        meta(name="description" content="Toxin cards demonstration page")
        title Cards
        link(href="./assets/css/app.css")
        //link(href="../../assets/css/app.css" rel="stylesheet")

    body
        .cards__wrapper

            .cards__logo
                +logo()

            main.cards__container

                .cards__column.cards__col-1

                    .cards__item
                        +find-apartment-card({
                            header: "Найдём номера под ваши пожелания",
                            dateDropdownHeaders: ["прибытие", "выезд"],
                            dropdownHeader: "гости",
                            buttonText: "подобрать номер",
                            link: "mock-address"
                        })

                    .cards__item
                        +registration-card("Регистрация аккаунта", "mock-address")

                .cards__column.cards__col-2


                    .cards__item
                        +apartment-booking-card({
                            number: "888",
                            price: "9 990",
                            currency: "₽",
                            lux: true,
                            dateDropdownHeaders: ["прибытие", "выезд"],
                            dropdownHeader: "гости",
                            expression: "9 990₽ х 4 суток",
                            expressionResult: "39 960₽",
                            servicePriceLabel: "Сбор за услуги: скидка 2 179₽",
                            servicePrice: "0₽",
                            extraServiceLabel: "Сбор за дополнительные услуги",
                            extraServicePrice: "300₽",
                            totalPrice: "38 081₽",
                            noteTexts: ["Sum was computed by calculator",
                                "This is for the smiles, that was given to you"],
                            buttonText: "забронировать",
                            link: "mock-address"
                        })

                    .cards__item
                        +signin-card()


                .cards__column.cards__col-3


                    .cards__item
                        //+calendar("mock-address")
                        +date-dropdown(false, true)

                    .cards__item.cards__item_width-small
                        +apartment-description-card({
                            images: ["apartment-lux.png",
                                "apartment-lux.png",
                                "apartment-lux.png",
                                "apartment-lux.png"],
                            number: "888",
                            price: "9 990",
                            currency: "₽",
                            rateButtonName: "card-rate-lux",
                            starAmount: 5,
                            reviewsAmount: "145",
                            lux: true,
                            link: "mock-address"
                        })

                    .cards__item.cards__item_width-small
                        +apartment-description-card({
                            images: ["apartment.png",
                                "apartment.png",
                                "apartment.png",
                                "apartment.png"],
                            number: "840",
                            price: "9 990",
                            currency: "₽",
                            rateButtonName: "card-rate-lux",
                            starAmount: 5,
                            reviewsAmount: "65",
                            link: "mock-address"
                        })
