//mixin like-button(value, name, likeAmount)
//    button(class="like-button like-button_colored" name=name)
//        .like-button__icon favorite
//        .like-button__amount=likeAmount
mixin like-button(value, name, likeAmount)
    button(class="like-button" name=name)
        .like-button__icon favorite_border
        .like-button__amount=likeAmount