@import "../../assets/scss/colors.scss";

.like-button{
  box-sizing: border-box;
  min-width: 40px;
  padding: 1px;
  background: $dark-25;
  border-radius: 10px;
  height: 20px;
  font-size: 10px;
  color: $dark-25;
  outline: none;

  &_colored{
    color: $purple;
    background: $gradient;
  }

  &__content{
    display: flex;
    background: white;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: inherit;
  }

  &__icon{
    font-family: 'Material Icons';
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__amount{
    font-family: Montserrat, OpenSans, sans-serif;
    line-height: 12px;
    font-size: 10px;
  }
}