mixin like-button(value, name, likeAmount, liked = false)
  - let icon = 'favorite_border'
  - let buttonClasses = ['like-button', 'js-like-button']
  if liked
    - icon = 'favorite'
    - buttonClasses.push('like-button_colored')
  button(class=buttonClasses name=name)
    .like-button__content
      .like-button__icon !{ icon }
      .like-button__amount !{ likeAmount }