@import "../../assets/scss/colors.scss";

.rich-checkbox {
  text-align: left;

  &__secondary-text {
    display: inline-block;
    padding-top: 5px;
    padding-left: 30px;
    color: $dark-50;
    font-size: .75rem; //12px при базовом размере шрифта 16px
    line-height: .875rem; //14px при базовом размере шрифта 16px
  }
}