@import "../../assets/scss/colors.scss";

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 140px;
  box-sizing: border-box;
  height: 70px;
  //width: 1440px;
  width: 100%;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);

  &__logo{
    cursor: pointer;
  }

  &__navigation{
    width: 100%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
  }

  &__menu{
    display: flex;
  }

  &__buttons{
    display: flex;
  }

  &__username{
    display: flex;
    align-items: center;
    height: 30px;
    font-family: Montserrat, OpenSans, sans-serif;
    color: $dark-50;
    font-size: 14px;
    padding-left: 30px;
    border-left: 1px solid rgba(31, 32, 65, 0.1);
  }

  &__signin-button{
    margin-right: 20px;
  }

}