@import "../../assets/scss/colors.scss";

.header {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
  box-shadow: 0 10px 20px rgba(31, 32, 65, .05);

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1160px;
    margin: auto;
  }

  &__logo {
    cursor: pointer;
    margin-right: 20px;


    @media (max-width: 900px) {
      display: none;
    }
  }

  &__navigation {
    margin-right: 20px;
    margin-left: auto;

    @media (max-width: 900px) {
      margin-left: 0;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    @media (max-width: 700px) {
      margin-right: 0;
    }

    @media (max-width: 380px) {
      flex-grow: 1;
    }
  }

  &__buttons {
    display: flex;

    @media (max-width: 700px) {
      width: 100%;
      padding: 10px 0;
    }

    @media (max-width: 300px) {
      flex-direction: column;
      align-items: center;
    }


  }

  &__username {
    padding-left: 20px;
    color: $dark-50;
    border-left: 1px solid rgba(31, 32, 65, .1);


    @media (max-width: 600px) {
      display: none;
    }
  }

  &__signin-button {
    margin-right: 20px;


    @media (max-width: 300px) {
      margin-right: 0;
      padding-top: 10px;
    }
  }

  &__register-button {
    @media (max-width: 300px) {
      padding-top: 10px;
    }
  }
}