include ../logo-with-text/logo-with-text
include ../link-button/link-button
include ../header-navigation/header-navigation

//TODO реализовать контейнер вместо паддингов
//TODO попробовать реализовать ссылки блоками
mixin header(links, loginButtonText, registerButtonText,  largeMargin=false, authorized=false, username)
    header.header
        .header__logo
            +logo-with-text
        nav.header__navigation
            +header-navigation(links, largeMargin)
            if authorized
                .header__username= username
            else
                .header__buttons
                    .header__signin-button
                        +link-button(loginButtonText, "#")
                    +link-button(registerButtonText, "#", true)