include ../logo-with-text/logo-with-text
include ../link-button/link-button
include ../header-navigation/header-navigation

// links - массив объектов {link, text, current, dropdowned}
mixin header({links, loginButtonText, registerButtonText, authorized=false, username})
    header.header
        .header__container
            .header__logo
                +logo-with-text
            nav.header__menu
                .header__navigation
                    +header-navigation(links, largeMargin)
                if authorized
                    .header__username= username
                else
                    .header__buttons
                        .header__signin-button
                            +link-button({text: loginButtonText, link: "mock-address"})
                        .header__register-button
                            +link-button({text: registerButtonText, link: "mock-address", filled: true})