@import "../../assets/scss/colors.scss";

.color-description {
  display: flex;
  align-items: center;

  &__color {
    width: 100%;
    max-width: 70px;
    min-height: 70px;
    border-radius: 6px;

    &_dark-shade-100 {
      background-color: $dark-100;
    }

    &_dark-shade-75 {
      background-color: $dark-75;
    }

    &_dark-shade-50 {
      background-color: $dark-50;
    }

    &_dark-shade-25 {
      background-color: $dark-25;
    }

    &_dark-shade-5 {
      background-color: $dark-5;
    }

    &_purple {
      background-color: $purple;
    }

    &_green {
      background-color: $green;
    }
  }

  &__description {
    padding-left: 40px;
  }

  &__name {
    margin-bottom: 15px;
  }

  &__code {
    font-size: 1.1875rem; //19px при базовом размере шрифта 16px
    font-family: Quicksand, OpenSans, sans-serif;
  }
}
