mixin color-description(color, name, code)
    .color-description
        .color-description__color(class="color-description__color_" + color)
        .color-description__description
            h2.color-description__name=name
            p.color-description__code=code