mixin subscription-textfield(placeholder, textfieldType, link)
    form.subscription-textfield(method="" action=link)
        input.subscription-textfield__textfield(type=textfieldType placeholder=placeholder)
        button.subscription-textfield__button arrow_forward