@import '../../assets/scss/colors.scss';

.subscription-textfield {
  display: flex;
  padding: 9px 0;
  border: 1px solid $dark-25;
  border-radius: 4px;

  &:focus,
  &:hover {
    border: 1px solid $dark-50;
  }

  &__textfield {
    padding-left: 14px;
    color: $dark-75;
    font: .875rem Montserrat, Arial, sans-serif;
    border: 0;
    border-radius: inherit;
    outline: none;

    &::placeholder {
      color: $dark-25;
    }
  }

  &__button {
    width: 100%;
    max-width: 44px;
    font: 1.5rem 'Material Icons';
    background: $gradient;
    -webkit-background-clip: text;
    border: 0;
    outline: none;
    cursor: pointer;
    -webkit-text-fill-color: transparent;

    &:focus {
      font-weight: bold;
    }
  }
}
