@import "../../assets/scss/colors.scss";

.subscription-textfield{
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 13px 0;
  border: 1px solid $dark-25;
  border-radius: 4px;

  &:focus, &:hover{
    border: 1px solid $dark-50;
  }


  &__textfield{
    width: 100%;
    padding-left: 14px;
    border: none;
    border-radius: inherit;
    color: $dark-75;
    user-select: none;
    outline: none;

    &::placeholder{
      color: $dark-25;
    }
  }

  &__button{
    display: flex;
    justify-content: center;
    max-width: 44px;
    width: 100%;
    font-family: 'Material Icons';
    font-size: 24px;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}