@import '../../assets/scss/colors';

.date-dropdown__calendar {

  &-arrow {
    font-family: 'Material Icons';
    font-size: 1.5rem; //24px при базовом размере шрифта 16px
    color: $purple;
  }

  &-buttons-wrapper {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;

    font-family: Montserrat, OpenSans, sans-serif;
    font-weight: bold;
    font-size: 0.75rem; //12px при базовом размере шрифта 16px
    line-height: 0.9375rem; //15px при базовом размере шрифта 16px
    text-transform: uppercase;
  }

  &-clear-button {
    text-transform: inherit;
    color: $dark-50;
    outline: none;

    &:focus {
      color: $dark-75;
    }
  }

  &-append-button {
    text-transform: inherit;
    color: $purple;
    outline: none;

    &:focus {
      color: purple;
    }
  }
}


// Переопределние стилей плагина
.datepicker {
  width: 320px;
  box-sizing: border-box;
  padding: 0 19px;
  border-radius: 4px;
  z-index: 99999;

  &--pointer {
    display: none;
  }

  &--nav {
    height: 64px;
    padding: 0;
    border: none;
    margin-bottom: 10px;

    &-title {
      font-family: Quicksand, OpenSans, sans-serif;
      font-weight: bold;
      font-size: 1.1875rem; //19px при базовом размере шрифта 16px
      color: $dark-100;
    }

    &-action {
      width: 24px;
    }
  }

  &--content {
    padding: 0;
  }

  &--days-names {
    margin: 0;
  }

  &--day-name, &--cell {
    font-family: Montserrat, OpenSans, sans-serif;
    font-size: 0.75rem; //12px при базовом размере шрифта 16px
    line-height: 0.9375rem; //15px при базовом размере шрифта 16px
  }

  &--day-name, &--cell-day {
    height: 40px;
    width: 40px;
  }

  &--day-name {
    font-weight: bold;
    text-transform: none;
    color: $purple;
  }
}


.datepicker--cell {
  color: $dark-50;

  &.-current- {
    color: white;
    font-weight: bold;
  }

  &.-focus- {
    background: inherit;
  }

  &.-selected- {
    border-radius: 22px;
    background: $gradient;
    position: relative;

    &.-focus- {
      background: $gradient;
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: $gradient;
      opacity: 0.25;
      z-index: -1;
    }

  }

  &.-range-from- {
    &:after {
      border-bottom-left-radius: 22px;
      border-top-left-radius: 22px;
    }
  }

  &.-range-to- {
    &:after {
      border-bottom-right-radius: 22px;
      border-top-right-radius: 22px;
    }
  }

  &.-in-range- {
    background: $gradient-quarttransparent;
  }

}

.-current- {
  color: white;
  background: $secondary-gradient;
  border-radius: 22px;
}