@import '../../assets/scss/colors.scss';

.date-dropdown {
  display: flex;

  &__header {
    margin-bottom: 6px;
    text-transform: uppercase;
  }

  &__label {
    display: flex;
    width: 100%;
    padding: 9px 0;
    border: 1px solid $dark-25;
    border-radius: 4px;
    cursor: pointer;

    @media (max-width: 400px) {
      padding-right: 24px;
    }

    @media (max-width: 350px) {
      padding-left: 0;
    }
  }

  &__input-wrapper {
    margin-right: 20px;

    @media (max-width: 350px) {
      margin-right: 5px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__input {
    width: 100%;
    padding-left: 15px;
    color: $dark-75;
    font: .875rem Montserrat, Arial, sans-serif;
    border: 0;
    border-radius: inherit;
    outline: none;
    cursor: pointer;

    @media (max-width: 350px) {
      padding-left: 9px;
    }

    &_static {
      display: contents;
    }
  }

  &__expand-button {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 44px;
    color: $dark-50;
    font: 1.5rem 'Material Icons';
    background: none;
    border: 0;
    user-select: none;
    pointer-events: none;

    &_hidden {
      transform: rotate(-180deg);
    }
  }
}
