mixin date-dropdown(twoInputs=false, static=false, headers)
    .date-dropdown.js-date-dropdown
        if static
            .js-calendar

        else if twoInputs
            .date-dropdown__input-wrapper.date-dropdown_small
                if headers !== undefined
                    h3.date-dropdown__header=headers[0]
                label.date-dropdown__label
                    input.js-calendar.date-dropdown__input(type="text")
            .date-dropdown__input-wrapper.date-dropdown_small
                if headers !== undefined && headers.length > 1
                    h3.date-dropdown__header=headers[1]
                label.date-dropdown__label
                    input.js-calendar.date-dropdown__input(type="text")

        else
            label.date-dropdown__label
                input.js-calendar.date-dropdown__input(type="text")
