@import "../../assets/scss/colors.scss";

.date-dropdown {
  display: flex;


  &__header {
    margin-bottom: 6px;
    color: $dark-100;
    text-transform: uppercase;
  }

  &__label {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 9px 0;
    padding-right: 44px;
    border: 1px solid $dark-25;
    border-radius: 4px;

    @media (max-width: 400px) {
      padding-right: 24px;
    }

    @media (max-width: 350px) {
      padding-left: 0;
    }

    &:after {
      position: absolute;
      right: 0;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      width: 44px;
      color: $dark-50;
      font-size: 1.5rem; //24px при базовом размере шрифта 16px

      font-family: "Material Icons";
      cursor: pointer;
      content: "expand_more";
      user-select: none;

      @media (max-width: 400px) {
        width: auto;
      }
    }
  }

  &__input-wrapper {
    margin-right: 20px;

    @media (max-width: 350px) {
      margin-right: 5px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    color: $dark-75;
    font-size: .875rem; //14px при базовом размере шрифта 16px

    font-family: Montserrat, OpenSans, sans-serif;
    line-height: 1.5rem; //24px при базовом размере шрифта 16px
    border: 0;
    border-radius: inherit;
    outline: none;
    cursor: pointer;
    
    @media (max-width: 350px) {
      padding-left: 9px;
    }

    &_static {
      display: contents;
    }
  }
}