@import "../../assets/scss/colors.scss";

.date-dropdown{
  position: relative;
  display: flex;

  &__label{
    display: flex;
    border: 1px solid $dark-25;
    //height: 100%;
    height: 44px;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
  }

  &_small{
    margin-right: 20px;
    &:last-child{
      margin-right: 0;
    }
  }

  &__header{
    font-family: Montserrat, OpenSans, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark-100;
    margin-bottom: 6px;
  }

  &__input{
    border: none;
    border-radius: inherit;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-left: 15px;
    font-family: Montserrat, OpenSans, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: $dark-75;
    cursor: pointer;
    outline: none;
  }

  &__arrow{
    height: 42px;
    width: 44px;
    flex-shrink: 0;
    font-family: Material Icons;
    box-sizing: border-box;
    font-size: 24px;
    color: $dark-50;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
  }
}