@import '../../assets/scss/colors.scss';

.bullet-list {
  margin: 0;
  padding: 0;

  &__bullet {
    position: relative;
    padding-left: 20px;
    line-height: 1.5rem; //24px при базовом размере шрифта 16px
    text-align: left;
    list-style: none;
    padding-bottom: 10px;

    &:before {
      position: absolute;
      top: 7px;
      left: 0;
      width: 10px;
      height: 10px;
      background-color: $dark-25;
      border-radius: 100%;
      content: '';
    }

    &:last-child{
      padding-bottom: 0;
    }
  }
}
