@import "../../assets/scss/colors.scss";

.small-footer {
  box-sizing: border-box;
  width: 100%;
  padding: 120px 0;
  box-shadow: 0 10px 20px rgba(31, 32, 65, .05);


  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 1160px;
    margin: auto;
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__text {

    margin-bottom: 25px;
    text-align: center;
  }

  &__socials {
    display: flex;
  }

  &__socials-item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}