@import "../../assets/scss/colors.scss";

.range-slider{
  width: 266px;



  &__resilt-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
  }

  &__resilt-text {
    font-family: Montserrat, OpenSans, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark-100;
  }

  &__resilt-wrapper{
    flex-basis: 110px;
  }

  &__resilt{
    width: 100%;
    border: none;
    height: 15px;
    font-family: Montserrat, OpenSans, sans-serif;
    font-size: 12px;
    //line-height: 15px;
    text-align: right;
    text-transform: uppercase;
    color: $dark-50;
    outline: none;
  }


  &__slider{
    border: 1px solid $dark-25;
    box-sizing: border-box;
    border-radius: 3px;
    height: 6px;
  }

  & .ui-widget-header{
    top: -1px;
    bottom: -1px;
    background: $secondary-gradient;
    border-radius: 3px;
    height: auto;
  }

  & .ui-state-default{
    background: $secondary-gradient;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    top: -.4em;
    width: 12px;
    height: 12px;
    outline: none;
  }
}