mixin range-slider(name)
    .range-slider
        .range-slider__resilt-container
            .range-slider__resilt-text range slider:
            .range-slider__resilt-wrapper
                input.range-slider__resilt(type="text" readonly)
        .range-slider__slider