@import "../../assets/scss/colors.scss";

.header-navigation{
  display: flex;
  align-items: center;


  &__nav-item{
    margin-right: 20px;


    &_large-margin{
      margin-right: 30px;
    }
  }

  &__link{
    font-family: Montserrat, OpenSans, sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: $dark-50;


    &_dropdowned{
      display: flex;
      &:after{
        content: 'expand_more';
        font-family: Material Icons;
        font-size: 24px;
        line-height: 17px;
      }
    }

    &_current{
      font-weight: bold;
      color: $dark-75;
    }
  }
}